.container {
    display: flex;
    width: 100%;
}

.form {
    flex: 50%;
    background-color: white;
}

.summary {
    flex: 30%;
    background-color: rgb(207, 206, 206);
}
.tees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.mat {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: auto;
    padding-top: 80px;
}


.tote {
    width: 80%;
    display: flex;
    align-items: center;
}

.gt {
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    text-align: left;
    padding-top: 100px;

}

input[type="text"],
input[type="checkbox"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 14px;
    border-radius: 50px;
    box-sizing: border-box;
}

.short input[type="text"] {
    width: calc(50% - 5px);
}

.long input[type="text"] {
    width: 49%
}

input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    padding-bottom: 30px;
}

.checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: grey;
}

.boxx {
    margin-left: 10px;
}
.short{
    /* width: 33%; */
    display: inline;
    justify-content: space-between;
}
.long{
    width: 200%
}
.note{
    color: brown;
}
button {
    margin-bottom: 10px;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
    float: right;
    background-color:#ffdd00 ;
}
.me a{
    color: black;
}
.pee{
    float: right;
}
.pee a{
    text-decoration: none;
}
.logo{
    align-items: center;
    margin-left: 350px;
}
.wee{
    display: inline-flex;
    justify-content: space-between;
}
.wipe{
    flex-direction: left;
    margin-left: 100px;
}
h6{
    font-size: 20px;
}
.paye a {
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .form, .summary {
        flex: 100%; 
    }

    .tees {
        justify-content: center; 
    }

    .mat {
        padding-top: 40px; 
    }

    .tote {
        width: 100%; 
    }

    .gt {
        padding-top: 50px; 
    }
    .logo{
        align-items: center;
        margin-left: 170px;
    }

    .wee {
       
       flex-direction: column; 
    }
}


@media screen and (max-width: 480px) {
    .container {
        flex-direction: column; 
    }

    .form, .summary {
        flex: 100%; 
    }

    .tees {
        justify-content: center; 
    }

    .mat {
        padding-top: 40px; 
    }

    .tote {
        width: 100%; 
    }

    .gt {
        padding-top: 50px; 
    }

    .short, .long {
        width: 100%; 
    }

    .logo{
        align-items: center;
        margin-left: 150px;
    }


    .wee {
        flex-direction: column;
    }
}
